/ {
    gpio_keys {
        compatible = "gpio-keys";
        my_led0: led_0 {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
            label = "LED";
        };
        my_button0: button_0 {
            gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
            label = "Button";
        };
    };
    aliases {
        led = &my_led0;
        button = &my_button0;
    };
};